@media screen and (min-width: 992px) {
	.al_heading,
	.al_inpt,
	.al_search {
		float: left;
	}
	#buttons {
		display: flex;
		justify-content: flex-start;
	}
}
@media screen and (max-width: 991px) {
	#alrandom {
		display: none;
	}
	#buttons {
		display: flex;
		justify-content: flex-start;
	}
	#tbx,
	#asrchbox,
	#arandom {
		width: 100%;
		margin-left: 0;
		margin-top: 5px;
	}
	#asrchbox {
		margin-left: 2px;
		margin-bottom: 10px;
	}
	#arandom {
		margin-left: 10px;
		margin-bottom: 10px;
	}
	#m1 {
		font-size: 66px;
	}
}

body {
	background-size: cover;
	text-align: center;
	background-attachment: fixed;
	padding: 15px;
	font-family: helvetica;
}

header {
	margin: 0 auto;
	max-width: 960px;
	min-height: 7em;
}

strong {
	color: #444;
}

button {
	margin: 50px 15px 0 0;
	border: none;
}

button:active {
	outline: none;
}

a {
	text-decoration: none;
	color: #3333ff;
}

a:visited {
	text-decoration: none;
	color: #000033;
}

a:hover {
	color: blue;
}

footer {
	font-size: 20px;
}

#loader {
	position: absolute;
	border: 16px solid #b4b3b3;
	border-top: 16px solid #071016;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.disp {
	display: none;
}

.heading {
	margin-top: 20vh;
	margin-bottom: 7vh;
	font-size: 96px;
	font-family: EB Garamond;
	color: inherit;
}

.al_heading {
	font-size: 40px;
	font-family: EB Garamond;
	display: table;
	margin: 0 auto;
	color: inherit;
	padding-right: 15px;
}

.smal {
	font-size: 0.65em;
}

.al_smal {
	font-size: 28px;
}

.sbox {
	margin: 0 auto;
	max-width: 720px;
}

.inpt {
	font-size: 22px;
	width: 100%;
	padding: 10px;
}

.al_inpt {
	display: table;
	margin: 0 auto;
	font-size: 22px;
	width: 538px;
	padding: 10px;
}

.search {
	font-size: 17px;
	padding: 10px;
	background: white;
	color: black;
}

.al_search {
	display: table;
	margin: 0 auto;
	border: 1px solid black;
	font-size: 22px;
	padding: 10px;
	/*abackground: rgba(1, 1, 1, 1);
	acolor: white;*/
}

.flex-wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
}

.al_button {
	margin: 0;
	margin-left: 10px;
	padding: 12px;
	/*bordedr: none;*/
	border-radius: 5px;
}

.btns {
	min-height: 100px;
	margin: 0 auto;
	max-width: 720px;
	display: flex;
	justify-content: space-evenly;
}

.result {
	border-left: 3px solid black;
	background: white;
	margin: 0 auto;
	max-width: 960px;
	text-align: justify;
	padding: 1em;
	word-wrap: break-word;
}

.title {
	font-size: 24px;
}

.uri {
	color: #003300;
}
